<section>
    <div class="container mt-4">
        <div class="row">
<h2><center><b>Edit Product</b></center></h2>
            <div class="col-md-6"></div>
            <form action="/admin/edit-product/{{product._id}}" enctype="multipart/form-data" method="POST">


                <label for="">Name</label>
                <input type="text" name="Name" class="form-control" value="{{product.Name}}">

                <label for="">Category</label>
                <input type="text" name="Category" class="form-control"  value="{{product.Category}}">

                <label for="">Price</label>
                <input type="text" name="Price" class="form-control" value="{{product.Price}}">

                <label for="">Description</label>
                <input type="text" name="Description" class="form-control" value="{{product.Description}}">

                <label for="">Image</label>
                <img src="/product-images/{{product._id}}.jpg" style="width:100px; height:auto" id="imgView" class="pt-3">
                <input type="file"  name="Image" class="form-control" onchange="viewImage(event)">
 
                <button type="submit" class="btn btn-primary mt-4">Submit</button>
            </form>
        </div>
    </div>
    </div>
</section>
<script>
    function viewImage(event){
        document.getElementById('imgView').src=URL.createObjectURL(event.target.files[0])
    }
</script>