<section>
   
            <div class="cart-table">
                <table >
                   

                         <tr class="heading">
                <th>Item</th>
                <th>Title</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Del</th>
            </tr>
                 
                   
                        {{#each products}}
                        <tr class="data">

                            <td><img  src="/product-images/{{this.product._id}}.jpg" alt="image">
                            </td>
                            <td>{{this.product.Name}}</td>
                            <td>Rs.{{this.product.Price}}</td>

                            <td class="1">
                                <button class="q1"
                                    onclick="changeQuantity('{{this._id}}','{{this.product._id}}','{{../user._id}}',-1)">-</button>
                                <span class="quantity mt-2" id="{{this.product._id}}">{{this.quantity}}</span>
                                <button class="q2 " 
                                    onclick="changeQuantity('{{this._id}}','{{this.product._id}}','{{../user._id}}',1)">+</button>
                            </td>
                            <td>
                                <a ><button class="del"
                                    onclick="deleteProduct('{{this._id}}','{{this.product._id}}','{{../user}}')"><img
                                        src="/images/trash-2.svg" alt=""></button></a>
                            </td>
                        </tr>
                        {{/each}}
                    
                </table>
              
            </div>
  
</section>
<div class="place-order">
      
                <hr>
                <h5 id="h5" class="float-right mr-5 mt-4">TOTAL: RS.<span id="total">{{totalValue}}</span>
                </h5><br><br><br>
               <a id="place-order" href="/place-order" class="btn btn-success float-right mr-5 mt-4"> Place
                    Order </a>
</div>
<script>
    function changeQuantity(cartId, proId, userId, count) {
        let quantity = parseInt(document.getElementById(proId).innerHTML)
        count = parseInt(count)
        $.ajax({
            url: '/change-product-quantity',
            data: {
                user: userId,
                cart: cartId,
                product: proId,
                count: count,
                quantity: quantity
            },
            method: 'post',
            success: (response) => {
                if (response.removeProduct) {
                    console.log("removeProduct")
                    alert('Product Removed from Cart')
                    location.reload()
                } else {
                    document.getElementById(proId).innerHTML = quantity + count
                    document.getElementById('total').innerHTML = response.total
                }
            }
        })
    }
</script>
<script>
    function deleteProduct(cartId, proId, userId) {
        $.ajax({
            url: '/delete-Product',
            data: {
                user: userId,
                cart: cartId,
                product: proId
            },
            method: 'post',
            success: (response) => {
                if (response.removeProduct) {
                    alert("Product removed from cart")
                    location.reload()
                }
            }
        })
    }
</script>