<section>
    <div class="container">
        <table class="table mt-5">
            <thread>
                <tr>
                    <th scope="col">Item</th>
                      <th scope="col">Title</th>
                        <th scope="col">Quantity</th>
                </tr>
            </thread>
            <tbody>
            {{#each products}}
                <tr>
                   
                    <td><img style="width:70px;height:70px" src="/product-images/{{this.product._id}}.jpg"></td>
                    <td> {{this.product.Name}} </td>
                    
                    <td>
                        <button class="cart-item-count mr-3" onclick="changeQuantity('{{this._id}}','{{this.product._id}}',-1)">-</button>
                        <span id="{{this.product._id}}">{{this.quantity}}</span>
                        <button class="cart-item-count mr-3" onclick="changeQuantity('{{this._id}}','{{this.product._id}}',1)">+</button>
                    </td>

                    <td>
                        <a href="" class="btn btn-danger">Remove</a>
                         </td>

                 </tr>
                 {{/each}}
            </tbody>
        </table>
    </div>
</section>

<script>

    function changeQuantity(cartId,proId,count) {  

        let quantity=parseInt(document.getElementById(proId).innerHTML)
        count=parseInt(count)

        $.ajax({
            url:'/change-product-quantity',
            data:{
                cart:cartId,
                product:proId,
                count:count,
                quantity:quantity

            },
            method:'post',
            success:(response)=>{
                if(response.removeProduct){
                    alert("product removed from the cart")
                    location.reload()
                }else{
                        
                        document.getElementById(proId).innerHTML=quantity+count    
                }
                
            }
        })  
    }
</script>