 <section>
    <div class="container mt-5">
      <div class="row">
        {{#each products}}
        <div class="col-md-3 p-3">
          <div class="card" style="width: 15rem; height:28rem">
            <img class="card-img-top" style="height: 15rem;" src="/product-images/{{this.product._id}}.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">{{this.product.Name}}</h5>
              <p class="card-text">Rs.{{this.product.Price}}</p>
               <p class="card-text">Qty :{{this.quantity}}</p>
              <p class="card-text">{{this.product.Description}}</p>
             
              
            </div>
          </div>
        </div>
        {{/each}}
      </div>
    </div>
  </section>